<a href="#">Home</a>


<table class="table" style="border: 1px solid grey; border-radius:3px">
  <thead>
    <tr>
      <th>
        Process
      </th>
      <th>
        Prior
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let category of categories; let i = index">
    <tr *ngFor="let process of category.Process; let j = index">
      <td>{{process.Title}}</td>
      <td>
        <input value="22" />
      </td>
    </tr>
  </tbody>
</table>

<table class="table" *ngFor="let category of categories; let i = index" style="border: 1px solid grey; border-radius:3px">
  <tbody>
    <tr style="background-color:azure">
      <td>{{i+1}}.  {{category.Title}}</td>
      <td>
        <input value="22" />
      </td>
      <td>
        <a href="#" class="btn">Show matrix</a>
      </td>
    </tr>

    <tr *ngFor="let process of category.Process; let j = index">
      <td>{{j+1}}.  {{process.Title}}</td>
      <td>
        <input value="22" />
      </td>
      <td>
        <a href="#" class="btn">Show matrix</a>
      </td>
    </tr>
  </tbody>
</table>

<table class="table" style="border: 1px solid grey; border-radius:3px">
  <thead>
    <tr>
      <th>
        Process
      </th>
      <th>
        Prior
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let category of categories; let i = index">
    <tr *ngFor="let process of category.Process; let j = index">
      <td>{{process.Title}}</td>
      <td>
        <input value="22" />
      </td>
    </tr>
  </tbody>
</table>
